* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
}

body {
    background-image: url("..\\..\\assets\\img\\background\\start.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    overflow: hidden;
}

div.coverpage {
    position: absolute;
    left: 50%;
    width: 500px;
    height: 100vh;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* 手機版 */
@media screen and (max-width: 768px) {


    .plot {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        height: 55%;
        background-color: rgba(168, 109, 109, 0.55);
        border-radius: 50px;
        padding: 8% 5% 5% 5%;
    }

    .plot p {
        font-size: 3.3vw;
        font-family: "Zen Kurenaido";
        text-shadow: 0 0 10px #000000;
    }

    #plotSkipBtn {
        position: absolute;
        top: 20%;
        right: 2%;
        width: 10%;
        height: 5%;
        background-color: rgba(168, 109, 109, 0.55);
        border-radius: 25px;
        z-index: 15;
    }

    #plotvid {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100vw;
        height: 100vh;
        z-index: 10;
    }
}