<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RX2NLVYJE8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RX2NLVYJE8');
    </script>
    <style>
        body {
            background-image: url("..\\{{page.bgurl}}") !important;
        }
    </style>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Protect The Earth</title>
    <link rel="stylesheet" href="../assets/css/base.css" />
</head>

<body>
    <script type="module" src="{{ site.url }}{{ site.baseurl }}/assets/js/Main.js"></script>
</body>

</html>