<!DOCTYPE html>
<html lang="zh">

<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RX2NLVYJE8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RX2NLVYJE8');
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="../assets/css/plot.css" />
</head>

<body>
    <div class="plot">
        <button id="plotJumpBtn" onclick="window.location.href = '../' + '{{page.next_url}}' +'.html'">Jump</button>
        {{ content }}
    </div>
    <script>
        var index = 0;
        var text = document.getElementsByTagName("p")[0].innerText;
        var chars = Array.from(text);

        document.getElementsByTagName("p")[0].innerText = '';
        keyboardaudio = new Audio("../assets/audio/Keyboard_Typing_Fast.mp3");
        keyboardaudio.volume = 1;
        keyboardaudio.play();
        
        var intervalId = setInterval(function () {
            if (index < chars.length) {
                document.getElementsByTagName("p")[0].innerText += chars[index];
                index++;
            } else {
                clearInterval(intervalId);
                setTimeout(function () {
                    document.getElementsByTagName("p")[0].style.display = "none";
                    keyboardaudio.pause();
                    window.location.href = '../' + '{{page.next_url}}' +'.html';
                }, 2000);
            }
        }, 75);
    </script>
</body>

</html>